body {
    margin: 0;
}

.gameboy {
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameboy-text {
    margin-top: 16px;
    font-size: 32px;
}

.gb-display {
    height: 90vh;
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 70px;
}
.power-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.power {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    animation: spinBall 0.13s linear infinite;
            box-shadow: inset 0 0 18px #fff, 
                inset 6px 0 18px rgb(250, 44, 44), 
                inset -6px 0 18px rgb(255, 0, 21), 
                inset 6px 0 30px rgb(245, 52, 52), 
                inset -6px 0 30px rgb(255, 0, 34), 
                0 0 18px #fff, -4px 
                0 18px rgb(245, 55, 86), 4px 0 18px rgb(255, 0, 0);
}

@keyframes spinBall {
    100% {
        transform: rotate(360deg);
    }
}

.content {
    height: 70vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.pokedex {
    overflow: auto;
    
}

.pokedex li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pokedex li img {
    height: 100px;
}

.type {
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
    border-radius: 10px;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grass {
    background-color: rgb(26, 148, 26) !important;
    color: white!important;
}

.fire {
    background-color: rgb(221, 9, 9)!important;
    color: white!important;
}

.water {
    background-color: rgb(25, 126, 221) !important;
    color: white !important;
}

.bug {
    background-color: rgb(127, 223, 98) !important;
    color: white !important;
}

.normal {
    background-color: rgb(202, 187, 138) !important;
    color: white !important;
}

.poison {
    background-color: rgb(43, 253, 1) !important;
    color: black !important;
}

.flying {
    background-color: rgb(250, 178, 70) !important;
    color: black !important;
}

.electric {
    background-color: rgb(250, 247, 70) !important;
    color: black !important;
}

.ground {
    background-color: rgb(161, 97, 0) !important;
    color: black !important;
}

.fairy {
    background-color: rgb(243, 124, 237) !important;
    color: black !important;
}

.fighting {
    background-color: rgb(78, 53, 5) !important;
    color: white !important;
}

.psychic {
    background-color: rgb(74, 6, 77) !important;
    color: white !important;
}

.rock {
    background-color: rgb(116, 43, 1) !important;
    color: white !important;
}

.steel {
    background-color: rgb(54, 82, 116) !important;
    color: black !important;
}

.ice {
    background-color: rgb(20, 221, 228) !important;
    color: black !important;
}

.ghost {
    background-color: rgb(145, 75, 148) !important;
    color: black !important;
}

.dragon {
    background-color: rgb(255, 136, 0) !important;
    color: black !important;
}

.b-none {
    border: unset;
    pointer-events: none;
}

.list-group-item:hover {
    background-color: lightgrey;
}

.dialog-bg {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    width: 50vw;
    height: 75vh;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 24px;
}

.display-nav {
    justify-content: space-around !important;
}

.display-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display-pic img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.display-cards {
    display: flex;
    flex-direction: column;
}

.upper-display {
    display: flex;
}

.button-line {
    display: flex;
    justify-content: center;
}

.button-style {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}